* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --bg-color: #000314;
  --blur-color: #00B2FF;
  --text-gradient: linear-gradient(90deg, #52CBFF 0%, #0075FF 90%);
  font-size: 62.5%;
}
body::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
body::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
body::-webkit-scrollbar-thumb {
  background: #e1e1e1;
  border: 1px solid var(--bg-color);
  border-radius: 50px;
}
body::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}
body::-webkit-scrollbar-thumb:active {
  background: #ffffff;
}
body::-webkit-scrollbar-track {
  background: var(--bg-color);
  border: 0px none #ffffff;
  border-radius: 24px;
}
body::-webkit-scrollbar-track:hover {
  background: var(--bg-color);
}
body::-webkit-scrollbar-track:active {
  background: var(--bg-color);
}
body:-webkit-scrollbar-corner {
  background: transparent;
}
body {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: var(--bg-color);
  font-family: 'Montserrat', sans-serif;
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
}
html,
body {
  scroll-behavior: smooth;
}
section:target {
  scroll-margin-top: 5rem;
}
a {
  text-decoration: none;
  cursor: pointer;
}
button {
  border: none;
  background: none;
}
section {
  width: min(100vw, 1216px);
}

/* PRELOADER */

#preloader {
  position: absolute;
  width: 100%;
  height: 100vh;
  background: var(--bg-color);
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
}
#preloader #logomarca-loader {
  width: 56px;
  height: 56px;
  position: relative;
  animation: motion-logo 4s ease-in-out;
}
@keyframes motion-logo {
  30% {
    transform: translateY(-12px);
    opacity: 100%;
  } 75% {
    transform: translateY(0);
    opacity: 70%;
  } 100% {
    transform: translateY(-16px);
    opacity: 30%;
  }
}
#preloader::after {
  content: "";
  position: absolute;
  width: 250px;
  height: 8px;
  background: #8AEAFF;
  border-radius: 50%;
  opacity: 70%;
  filter: blur(28px);
  margin-top: 190px;
}
#content {
  display: none;
}
/* NAVIGATION */

nav {
  width: 100%;
  height: 10rem;
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  background: #20002c;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #000314, #00031400);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #000314 25%, #00031400 100%); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  z-index: 20;
}
body::after {
  content: "";
  position: absolute;
  width: 50.3rem;
  height: 50.3rem;
  border-radius: 50%;
  background-color: var(--blur-color);
  opacity: 50%;
  filter: blur(150px);
  top: -60rem;
  z-index: -1;
}
nav a + a {
  margin-left: 3.2rem;
}
nav a {
  display: flex;
  justify-content: center;
  position: relative;
  color: #fff;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 130%;
}
nav a::after {
  content: "";
  position: absolute;
  height: 1px;
  width: 0%;
  background-color: #fff;
  bottom: -0.4rem;
  transition: width 200ms;
}
nav a:hover::after {
  width: 100%;
}
nav #logomarca {
  width: 5.2rem;
  height: 5.2rem;
  margin: 0 8.4rem 0 8.4rem;
  cursor: pointer;
}

/* SECTION HOME */

section#home {
  margin-top: 80px;
  padding: 89px 38px 89px 38px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#informations-home {
  position: relative;
  width: 428px;
}
#informations-home::after {
  content: "";
  position: absolute;
  width: 369px;
  height: 369px;
  border-radius: 50%;
  background-color: var(--blur-color);
  opacity: 12%;
  filter: blur(150px);
  bottom: 1px;
  z-index: -1;
}
#informations-home h3 {
  background-image: var(--text-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2rem;
  font-weight: 600;
}
#informations-home h1 {
  color: #fff;
  font-size: 6.2rem;
  font-weight: 500;
  line-height: 110%;
  margin: 12px 0 38px 20px;
}
#informations-home p {
  color: #fff;
  margin-bottom: 24px;
  font-size: 1.6rem;
}
#informations-home #location {
  display: flex;
  align-items: center;
  gap: 12px;
  color: #fff;
}
#logomarca-home img {
  width: 38px;
  height: 38px;
  margin-right: 90px;
}
#avatar {
  display: flex;
  align-items: center;
  justify-content: center;
}
#avatar::after {
  content: "";
  position: absolute;
  width: 302px;
  height: 302px;
  border-radius: 50%;
  background: linear-gradient(141.1deg, #00B2FF 30.31%, #081976 87.04%);
  z-index: -1;
}
#avatar img {
  width: 292px;
  height: 292px;
}

/* TECHS */

section#techs {
  position: relative;
  padding-block: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#techs::after {
  content: "";
  position: absolute;
  top: 10px;
  width: 369px;
  height: 369px;
  border-radius: 50%;
  background-color: var(--blur-color);
  opacity: 12%;
  filter: blur(150px);
  z-index: -1;
}
#techs #content-techs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 48px;
}
#techs #content-techs h3 {
  background-image: var(--text-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
}
#techs #content-techs #techs-icons {
  display: flex;
  align-items: center;
  gap: 64px;
}
#techs #content-techs #techs-icons svg {
  width: 38px;
}
#techs #content-techs #techs-icons svg:nth-child(4) {
  width: 34px;
}
#techs #content-techs #techs-icons svg:nth-child(5) {
  width: 42px;
}

/* PROJECTS */

section#projects {
  position: relative;
  padding: 0 38px;
  margin-block: 100px;
}
section#projects h3 {
  background-image: var(--text-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
  font-size: 20px;
}
#slider {
  margin-top: 52px;
  width: 100%;
  height: 500px;
  padding-inline: 8px;
  padding-block: 8px;
  overflow: hidden;
}
#cards-slides {
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  padding: 10px 8px 8px 8px;
  width: 1648px;
  transition: margin-left 1s ease;
}
#slider .card {
  width: 370px;
  background-color: #0B0F25;
  -webkit-box-shadow: 0px 0px 12px 1px rgba(0,178,255,0.21); 
  box-shadow: 0px 0px 12px 1px rgba(0,178,255,0.21);
  border-radius: 12px;
  padding: 32px 38px 32px 38px;
  transition: all .4s ease;
}
#slider .card:hover {
  transform: translateY(-8px);
  -webkit-box-shadow: 0px 2px 12px 1px rgba(0,178,255,0.22); 
  box-shadow: 0px 2px 12px 1px rgba(0,178,255,0.22);
}
#slider .card + .card {
  margin-left: 42px;
}
.card .presentation {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.card .presentation .number {
  font-size: 10rem;
  font-weight: 500;
  background: linear-gradient(180deg, #026a9e 22.54%, #0B0F25 85.65%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.card .presentation img {
  width: 220px;
  box-shadow: 0px 0px 8px 0px #ffffff23;
  border-radius: 24px;
}
.card .title-project {
  text-align: center;
  font-weight: 500;
  color: #fff;
  font-size: 1.8rem;
  margin: 32px 0 28px 0;
}
.card .description-project {
  color: rgb(214, 214, 214);
  font-size: 1.4rem;
  line-height: 140%;
  margin-bottom: 28px;
}
.card .view-project {
  padding-inline: 18px;
  padding-block: 10px;
  border-radius: 24px;
  background: linear-gradient(90deg, #005D8A 2.6%, #0B1578 93.23%);
  text-align: center;
  border: none;
  float: right;
  transition: all .2s ease;
}
.card .view-project a {
  color: #fff;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 12px;
  font-family: 'Montserrat';
}
.card .view-project:hover {
  transform: translateX(2px);
  -webkit-box-shadow: 0px 2px 5px 3px rgba(173, 173, 173, 0.116); 
  box-shadow: 0px 2px 5px 3px rgba(173, 173, 173, 0.116);
}
#projects .view-projects {
  margin-top: 58px;
  margin-left: 41%;
  padding-inline: 20px;
  padding-block: 12px;
  border-radius: 24px;
  background: linear-gradient(90deg, #005D8A 2.6%, #0B1578 93.23%);
  text-align: center;
  border: none;
  transition: all .2s ease;
}
#projects .view-projects a {
  color: #fff;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 14px;
  font-family: 'Montserrat';
}
#projects .view-projects:hover {
  margin-left: 41.3%;
  -webkit-box-shadow: 0px 2px 5px 3px rgba(173, 173, 173, 0.116); 
  box-shadow: 0px 2px 5px 3px rgba(173, 173, 173, 0.116);
}
#projects #prev,
#projects #next {
  background: rgb(189, 189, 189);
  position: absolute;
  color: #000;
  padding: 12px 10px 12px 10px;
  border-radius: 50%;
  line-height: 0;
  cursor: pointer;
  transition: all .3s ease-out;
}
#projects #prev {
  top: 43%;
  left: -1%;
}
#projects #prev svg {
  transform: rotate(180deg);
}
#projects #next {
  top: 45%;
  left: 98%;
}
#projects #prev:hover {
  top: 42%;
  -webkit-box-shadow: 0px 3px 16px 3px rgba(173, 173, 173, 0.363); 
  box-shadow: 0px 3px 16px 3px rgba(173, 173, 173, 0.363);
}
#projects #next:hover {
  top: 44%;
  -webkit-box-shadow: 0px 3px 16px 3px rgba(173, 173, 173, 0.363); 
  box-shadow: 0px 3px 16px 3px rgba(173, 173, 173, 0.363);
}