* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --bg-color: #000319;
  --blur-color: #00B2FF;
  --text-gradient: linear-gradient(90deg, #52CBFF 0%, #0075FF 90%);
  font-size: 62.5%;
}
body::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
body::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
body::-webkit-scrollbar-thumb {
  background: #e1e1e1;
  border: 1px solid var(--bg-color);
  border-radius: 50px;
}
body::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}
body::-webkit-scrollbar-thumb:active {
  background: #ffffff;
}
body::-webkit-scrollbar-track {
  background: var(--bg-color);
  border: 0px none #ffffff;
  border-radius: 24px;
}
body::-webkit-scrollbar-track:hover {
  background: var(--bg-color);
}
body::-webkit-scrollbar-track:active {
  background: var(--bg-color);
}
body:-webkit-scrollbar-corner {
  background: transparent;
}
body {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: var(--bg-color);
  font-family: 'Montserrat', sans-serif;
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
}
html,
body {
  scroll-behavior: smooth;
}
section:target {
  scroll-margin-top: 10rem;
}
a {
  text-decoration: none;
  cursor: pointer;
}
button {
  border: none;
  background: none;
}
section {
  width: min(100vw, 1216px);
}
section > h3 {
  background-image: var(--text-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
  font-size: 20px;
}
/* PRELOADER */

#preloader {
  position: absolute;
  width: 100%;
  height: 100vh;
  background: var(--bg-color);
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
}
#preloader #logomarca-loader {
  width: 56px;
  height: 56px;
  position: relative;
  animation: motion-logo 4s ease-in-out;
}
@keyframes motion-logo {
  30% {
    transform: translateY(-12px);
    opacity: 100%;
  } 75% {
    transform: translateY(0);
    opacity: 70%;
  } 100% {
    transform: translateY(-16px);
    opacity: 30%;
  }
}
#preloader::after {
  content: "";
  position: absolute;
  width: 250px;
  height: 8px;
  background: #8AEAFF;
  border-radius: 50%;
  opacity: 50%;
  filter: blur(28px);
  margin-top: 190px;
}
/*
#content {
  display: none;
}
*/
/* NAVIGATION */

nav {
  width: 100%;
  height: 10rem;
  display: none;
  /*display: flex;*/
  align-items: center;
  justify-content: center;
  position: fixed;
  background: #20002c;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #000314, #00031400);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #000314 30%, #00031410 100%); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  z-index: 20;
}
body::after {
  content: "";
  position: absolute;
  width: 50.3rem;
  height: 50.3rem;
  border-radius: 50%;
  background-color: var(--blur-color);
  opacity: 50%;
  filter: blur(150px);
  top: -60rem;
  z-index: -1;
}
nav a + a {
  margin-left: 3.2rem;
}
nav a {
  display: flex;
  justify-content: center;
  position: relative;
  color: #fff;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 130%;
}
nav a::after {
  content: "";
  position: absolute;
  height: 1px;
  width: 0%;
  background-color: #fff;
  bottom: -0.4rem;
  transition: width 200ms;
}
nav a:hover::after {
  width: 100%;
}
nav #logomarca {
  width: 5.2rem;
  height: 5.2rem;
  margin: 0 8.4rem 0 8.4rem;
  cursor: pointer;
}

/* SECTION HOME */

section#home {
  margin-top: 80px;
  padding: 89px 38px 89px 38px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#informations-home {
  position: relative;
  width: 428px;
}
#informations-home::after {
  content: "";
  position: absolute;
  width: 369px;
  height: 369px;
  border-radius: 50%;
  background-color: var(--blur-color);
  opacity: 12%;
  filter: blur(150px);
  bottom: 1px;
  z-index: -1;
}
#informations-home h3 {
  background-image: var(--text-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2rem;
  font-weight: 600;
}
#informations-home h1 {
  color: #fff;
  font-size: 6.2rem;
  font-weight: 500;
  line-height: 110%;
  margin: 12px 0 38px 20px;
}
#informations-home p {
  color: #fff;
  margin-bottom: 24px;
  font-size: 1.6rem;
}
#informations-home #location {
  display: flex;
  align-items: center;
  gap: 12px;
  color: #fff;
}
#logomarca-home img {
  width: 38px;
  height: 38px;
  margin-right: 90px;
}
#avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 500px;
}
#avatar::after {
  content: "";
  position: absolute;
  width: 302px;
  height: 302px;
  border-radius: 50%;
  background: linear-gradient(141.1deg, #00B2FF 30.31%, #081976 87.04%);
  z-index: -1;
}
#avatar img {
  width: 292px;
  height: 292px;
}

/* TECHS */

section#techs {
  position: relative;
  padding-block: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#techs::after {
  content: "";
  position: absolute;
  top: 10px;
  width: 369px;
  height: 369px;
  border-radius: 50%;
  background-color: var(--blur-color);
  opacity: 12%;
  filter: blur(150px);
  z-index: -1;
}
#techs #content-techs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 48px;
}
#techs #content-techs h3 {
  background-image: var(--text-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
}
#techs #content-techs #techs-icons {
  display: flex;
  align-items: center;
  gap: 64px;
}
#techs #content-techs #techs-icons svg {
  width: 38px;
  transition: transform .4s ease;
}
#techs #content-techs #techs-icons svg:hover {
  transform: translateY(-5px);
}
#techs #content-techs #techs-icons svg:nth-child(4) {
  width: 34px;
}
#techs #content-techs #techs-icons svg:nth-child(5) {
  width: 42px;
}

/* PROJECTS */

section#projects {
  padding: 0 38px;
  margin-top: 100px;
  margin-bottom: 150px;
}
section#projects .projects-box {
  width: 100%;
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

section#projects .projects-box .projects {
  max-width: 608px;
  height: 269px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

section#projects .projects-box .projects .description-of-projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  width: 100%;
  height: 100%;
  color: #fff;
  padding: 32px;
  transition: all 0.2s ease;
  
}
.bg-projects {
  position: absolute;
  width: 100%;
  height: auto;
  transition: all 0.4s ease;
  z-index: -1;
}
.projects .description-of-projects h4,
.projects .description-of-projects p, 
.projects .description-of-projects svg {
  opacity: 0;
  transition: all 0.2s ease;
}
.projects .description-of-projects h4 {
  margin-top: 32px;
  margin-bottom: 24px;
}

.projects .description-of-projects:hover {
  background: rgb(0,0,0);
  background: linear-gradient(0deg, rgba(0,0,0,1) 20%, rgba(0, 0, 0, 0.226) 100%);
}
.projects .description-of-projects:hover h4,
.projects .description-of-projects:hover p,
.projects .description-of-projects:hover svg {
  opacity: 1;
}
.projects > a:hover .bg-projects {
  transform: scale(1.05);
}
#projects .view-projects {
  margin-top: 58px;
  margin-left: 41%;
  padding-inline: 20px;
  padding-block: 12px;
  border-radius: 24px;
  background: linear-gradient(90deg, #005D8A 2.6%, #0B1578 93.23%);
  text-align: center;
  border: none;
  transition: all .2s ease;
}
#projects .view-projects a {
  color: #fff;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 14px;
  font-family: 'Montserrat';
}
#projects .view-projects:hover {
  margin-left: 41.3%;
  -webkit-box-shadow: 0px 2px 5px 3px rgba(173, 173, 173, 0.116); 
  box-shadow: 0px 2px 5px 3px rgba(173, 173, 173, 0.116);
}

/* ABOUT ME */

#about-me {
  padding: 0 38px;
  margin-bottom: 100px;
}
#about-me .content-about-me {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 48px;
}
#about-me .text-about-me {
  color: #fff;
  line-height: 25px;
  margin-top: 34px;
}
#about-me #avatar-about-me {
  display: flex;
  align-items: center;
  justify-content: end;
  margin-right: 40px;
}
#about-me #avatar-about-me::after {
  content: "";
  position: absolute;
  width: 302px;
  height: 302px;
  border-radius: 50%;
  background: linear-gradient(141.1deg, #00B2FF 30.31%, #081976 87.04%);
  z-index: -1;
}
#about-me #avatar-about-me img {
  width: 292px;
  height: 292px;
  margin-right: 5px;
}

/* CONTACT */

#contact {
  padding: 0 38px;
  margin-bottom: 100px;
  margin-top: 150px;
}
.content-contact {
  display: grid;
  grid-template-columns: 60% 40%;
}
#contact p {
  font-size: 18px;
  color: #fff;
  margin-top: 16px;
  line-height: 24px;
}
#contact .social-links {
  display: flex;
  align-items: center;
  gap: 32px;
  margin-top: 42px;
}
#contact .social-links a {
  display: flex;
  align-items: center;
  gap: 12px;
}
#contact .social-links a > #arrow-social-links {
  transition: transform 0.4s ease;
}
#contact .social-links a:hover > #arrow-social-links {
  transform: translateY(-4px);
}
#contact .logo-contact {
  display: flex;
  align-items: center;
  width: min-content;
  margin-top: 80px;
  margin-left: 90px;
} 
#contact .logo-contact svg #logo-hover {
  transition: transform 0.5s ease;
}
#contact .logo-contact:hover svg #logo-hover {
  transform: translateY(-10px);
}

.form-contact form {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.form-contact form label {  
  color: #fff;
  line-height: 20px;
  margin-bottom: 10px;
}
.form-contact form input {  
  border: none;
  border-radius: 8px;
  width: min(auto, 480px);
  height: 42px;
  padding-inline: 20px;
  margin-bottom: 24px;
  font-family: 'Montserrat', sans-serif;
}
.form-contact form input::placeholder {
  color: #939393;
  font-family: 'Montserrat', sans-serif;
}
.form-contact form textarea {  
  border: none;
  border-radius: 8px;
  width: min(auto, 480px);
  padding-inline: 20px;
  padding-top: 16px;
  font-family: 'Montserrat', sans-serif;
}
.form-contact form button {  
  border: none;
  border-radius: 8px;
  font-weight: 600;
  margin-top: 20px;
  width: 140px;
  height: 38px;
  color: #fff;
  background: linear-gradient(90deg, #0072AD 18.23%, #0022A3 100%);
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;
  align-self: flex-end;
  transition: box-shadow 0.2s ease;
}
.form-contact form button:hover {
  -webkit-box-shadow: 0px 4px 14px -2px rgba(255, 255, 255, 0.450); 
  box-shadow: 0px 4px 14px -2px rgba(255,255,255,0.450);
}

/* FOOTER */

footer {
  padding: 0 38px;
  height: 150px;
  width: 100%;  
  display: flex;
  align-items: center;
  justify-content: center;
  background: #00061f;
}
footer .content-footer {
  width: 1216px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer #credits {
  color: #fff;
}
footer .nav-footer {
  display: flex;
  align-items: center;
  gap: 32px;
}
footer .nav-footer a {
  color: #fff;
  font-size: 14px;
}
footer #logo-footer {
  width: 48px;
  height: 48px;
}

/* RESPONSIVE */

@media (max-width: 768px) {
  #logomarca-home img {
    margin-right: 50px;
  }
  #avatar::after {
    width: 252px;
    height: 252px;
  }
  #avatar img {
    width: 242px;
    height: 242px;
  }
  #about-me #avatar-about-me {
    margin: initial;
  }
  #about-me #avatar-about-me::after {
    width: 252px;
    height: 252px;
  }
  #about-me #avatar-about-me img {
    width: 242px;
    height: 242px;
  }
  #contact .logo-contact {
    margin-top: 80px;
    margin-left: 40px;
  }
  footer .nav-footer {
    gap: 12px;
  }
}

@media (max-width: 680px) {
  nav a + a {
    margin-left: 1.2rem;
  }
  nav a {
    font-size: 1.2rem;
  }
  nav #logomarca {
    width: 3.2rem;
    height: 3.2rem;
    margin: 0 2.4rem 0 2.4rem;
  }
  section#home {
    margin-top: 80px;
    padding: 52px 38px 52px 38px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  #avatar {
    display: none;
  }
  #logomarca-home img {
    display: none;
  }
  #techs #content-techs #techs-icons {
    gap: 32px;
    margin-left: 140px;
  }
  section#projects .projects-box {
    width: 100%;
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr;
  }
  section#projects .projects-box .projects {
    height: 190px;
  }
  .bg-projects {
    height: 100%;
  }
  #about-me .content-about-me {
    grid-template-columns: 1fr;
  }
  #about-me #avatar-about-me {
    margin-top: 72px;
    justify-content: center;
  }
  #about-me #avatar-about-me img {
    margin-left: 5px;
  }
}